.hidden {
    display: none;
}

.loading-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

html, body {
    min-height: 100vh;
}